<header *ngIf="group" class="group-header">
  <h4 class="group-name">{{ group.name }}</h4>
  <button mat-stroked-button class="wide-button" *ngIf="group.multi || pluginsProperties.length === 0" (click)="add(group)">
    <span *ngIf="group.multi">Add</span>
    <span *ngIf="!group.multi">Set</span>
  </button>
</header>

<div class="card" *ngFor="let values of pluginsProperties">
  <mat-card>
    <div class="form-wrap-field" *ngFor="let val of values">
      <div class="form-field">
        <label class="form-field-property-name">{{ val.prop.name }}:</label>
        <div class="form-field-property-value">
          <input matInput *ngIf="val.prop.valueType === 1" class="input" type="text" [name]="val.value.key"
                 [(ngModel)]="val.value.value" />
          <input matInput *ngIf="val.prop.valueType === 2" type="checkbox" [name]="val.value.key" [(ngModel)]="val.value.value" />
          <input matInput *ngIf="val.prop.valueType === 3" type="number" [name]="val.value.key" [(ngModel)]="val.value.value" />
        </div>
      </div>
      <small
             *ngIf="val.prop.desc && val.prop.desc.length > 0"
             class="prop-description"
             [innerHTML]="val.prop.desc | safeHtml"></small>
    </div>
    <div class="text-right">
      <button mat-stroked-button type="button" class="wide-button" role="button" (click)="remove(values)">Remove</button>
    </div>
  </mat-card>
</div>