.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.modal-box {
  text-align: end;
  position: fixed;
  border-radius: 25px;
  top: 10vh;
  left: 33vw;
  width: 28vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal-header {
  display: block;
  text-align: center;
}

.modal-box-actions {
  margin-top: 10px;
  text-align: center;
}

.message {
  display: flex;
  flex-direction: column;
  align-content: center;
}
