<h2 class="title">Users</h2>
<table class="users">
  <thead>
    <tr>
      <th class="left-align">Name</th>
      <th class="email left-align">Email</th>
      <th class="left-align">Role</th>
      <th class="left-align">Department</th>
      <th class="left-align">Manager</th>
      <th class="cust left-align">Customers</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="properties$ | async as properties">
    <ng-container *ngFor="let user of users$ | async">
      <tr>
        <td class="left-align">{{ user.name }}</td>
        <td class="left-align">{{ user.email }}</td>
        <td class="left-align">{{ user.role }}</td>
        <td class="left-align">{{ user.department }}</td>
        <td class="left-align">{{ user.manager }}</td>
        <td class="left-align">{{ user.customers }}</td>
        <td>
          <button type="button" class="btn btn-default" role="button" (click)="edit(user)">
            <!-- <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> -->
            <mat-icon>view_list</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngIf="editingId === user.id">
        <td colspan="7" class="table-edit-row">
          <h3>Properties</h3>
          <div *ngFor="let group of properties">
            <app-plugin-values class="values" [group]="group" [(values)]="user.properties[group.key]"></app-plugin-values>
          </div>
          <br />
          <br />
          <button mat-raised-button (click)="save(user)" color="primary">Save</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
