<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="split left">
    <div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

            <mat-tree-node class="node" *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <div class="node-content">
                    <button *ngIf="!node.content" class="icon-button node-element-height centered" mat-icon-button
                            matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.filename">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'indeterminate_check_box_icon' : 'add_box'}}
                        </mat-icon>
                        <i class="fas fa-plus-circle"></i>
                    </button>
                    <div class="centered node-element-height centered" draggable="true" (dragend)="handleDragEnd($event)"
                         ondrop="handleDropEvent($event)">
                        {{node.item}}
                    </div>
                    <button class="icon-button node-element-height centered" *ngIf="!node.editMode" mat-icon-button
                            (click)="editItem(node)">
                        <p class="blue-text">Edit</p>
                    </button>
                </div>
                <div class="short">
                    <span *ngIf="node.content" class="well well-sm">{{node.content}}</span>
                    <span *ngFor="let trait of node.acquireTraits" class="badge badge-success">{{trait}}</span>
                    <span *ngFor="let trait of node.requiredTraits" class="badge badge-danger">{{trait}}</span>
                </div>
            </mat-tree-node>
        </mat-tree>
        <button class="icon-button" mat-icon-button (click)="addNewItem()">
            Add
        </button>

        <a (click)="save()">SAVE</a>
    </div>
</div>

<div *ngIf="editedNode" class="split right">
    <div *ngIf="editedNode?.item">
        <h4>Title: {{editedNode?.item}}</h4>
    </div>
    <hr *ngIf="editedNode?.item">
    <div class="edit-content">
        <div>
            <div class="top-spacing">
                <h3><span class="label label-success">Assign Traits</span></h3>
                <div>
                    <span *ngFor="let trait of editedNode?.acquireTraits" class="badge badge-success">{{trait}} <span
                              (click)="prepareForDelete(trait, deletedAcquireTratsList)" aria-hidden="true">&times;</span></span>
                </div>
                <div class="traits-div">
                    <div class="panel panel-default">
                        <div class="panel-heading">Added</div>
                        <div class="bulletless-list panel-body" #addedAcquireTratsList>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Removed</div>
                        <ul class="bulletless-list panel-body" #deletedAcquireTratsList>
                        </ul>
                    </div>
                </div>
                <div #addAcquireTraits class="top-spacing">
                    <div class="input-group">
                        <input #AcqTraitsInput type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-text" (click)="addTrait(addedAcquireTratsList, AcqTraitsInput)"
                                    type="button">Add</button>
                            <button class="btn btn-default input-group-text" (click)="resetTraitFieldInput(AcqTraitsInput)"
                                    type="button">Cancel</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="top-spacing">
                <h3><span class="label label-danger">Require Traits</span></h3>
                <div>
                    <span *ngFor="let trait of editedNode?.requiredTraits" class="badge badge-danger">{{trait}} <span
                              (click)="prepareForDelete(trait, deletedRequireTratsList)" aria-hidden="true">&times;</span></span>
                </div>
                <div class="traits-div">
                    <div class="panel panel-default">
                        <div class="panel-heading">Added</div>
                        <ul class="bulletless-list panel-body" #addedRequireTratsList>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Removed</div>
                        <ul class="bulletless-list panel-body" #deletedRequireTratsList>
                        </ul>
                    </div>
                </div>
                <div #addRequireTraits class="top-spacing">
                    <div class="input-group">
                        <input #ReqTraitsInput type="text" class="form-control" placeholder="">
                        <span class="input-group-btn">
                            <button class="btn btn-default input-group-text" (click)="addTrait(addedRequireTratsList, ReqTraitsInput)"
                                    type="button">Add</button>
                            <button class="btn btn-default input-group-text" (click)="resetTraitFieldInput(ReqTraitsInput)"
                                    type="button">Cancel</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="top-spacing" (dragover)="handleDropEvent($event)">
                <h3><span class="label label-primary">Parent Questions</span></h3>
                <div>
                    <span *ngFor="let parent of editedNode?.parents | keyvalue" class="badge badge-parent">{{parent.value}} <span
                              (click)="prepareForDelete(parent.value, deletedParentQuestions)" aria-hidden="true">&times;</span></span>
                </div>
                <div class="traits-div">
                    <div class="panel panel-default">
                        <div class="panel-heading">Added</div>
                        <ul id="addedParentQuestions" class="bulletless-list panel-body" #addedParentQuestions>
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Removed</div>
                        <ul class="bulletless-list panel-body" #deletedParentQuestions>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="top-spacing">
                Type
                <div class="input-group">
                    <select class="form-control"
                            (change)="changeEditNodeIsAnswer($event.target)"
                            #typeValue>
                        <option *ngFor="let type of nodeType; let i = index" [selected]="editedNode?.isAnswer ? i === 1 : i === 0"
                                [value]="type === 'Answer'">
                            {{type}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="top-spacing">
                {{editedNode?.item === undefined || '' ? '' : 'Edit'}} Title
            </div>
            <div>
                <input class="form-control" matInput #itemValue placeholder=""
                       [value]="editedNode?.item === undefined ? '' : editedNode?.item">
            </div>
            <div class="top-spacing">
                Answer content
                <div>
                    <textarea class="textarea-size" matInput #contentValue type="text"
                              [disabled]="!editedNode?.isAnswer"
                              [value]="!editedNode?.isAnswer ? '' : editedNode?.content === undefined || editedNode?.content === 'undefined' ? '' : editedNode?.content">
                              </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class=" top-spacing">
        <button mat-button
                (click)="saveNode(editedNode, itemValue.value, typeValue.value, contentValue.value, addedParentQuestions, addedAcquireTratsList, addedRequireTratsList, deletedParentQuestions, deletedAcquireTratsList, deletedRequireTratsList)">Save</button>
        <button class="cancel-button" mat-button (click)="cancelEdit()">
            Cancel
        </button>
    </div>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->