.example-tree-invisible {
  display: none;
}
.tree-customising {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

input {
  border-style: solid;
  border-width: 1px;
}
