<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.item}}
        <button mat-icon-button (click)="addNewItem(node)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-form-field>
            <input matInput #itemValue placeholder="">
        </mat-form-field>
        <mat-form-field>
            <select matInput #typeValue>
                <option *ngFor="let type of nodeType" [value]="type">{{type}}</option>
            </select>
            <input matInput #contentValue type="text" [ngStyle]="{'display': (typeValue.value==='Answer') ? 'block' : 'none'}">
        </mat-form-field>
        <button mat-button
                (click)="saveNode(node, itemValue.value, typeValue.value, contentValue.value)">Save</button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button *ngIf="node.type != 2" mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.filename">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.item}}
        <br>
        <div *ngIf="node.type === 2">
            <p> Answer content: {{node.content}}</p>
        </div>
        <button *ngIf="node.type != 2" mat-icon-button (click)="addNewItem(node)">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="editItem(node)">
            <mat-icon>edit</mat-icon>
        </button>
        <div *ngIf="node.editMode">
            <button mat-icon-button disabled></button>
            <mat-form-field>
                <input matInput #itemValue [value]="node.item">
            </mat-form-field>
            <mat-form-field>
                <select matInput #typeValue>
                    <option *ngFor="let type of nodeType; let i = index" [selected]="i + 1 === node.type" [value]="type">{{type}}</option>
                </select>
                <input matInput #contentValue type="text" [ngStyle]="{'display': (typeValue.value==='Answer') ? 'block' : 'none'}"
                       [value]="node.content">
            </mat-form-field>
            <button mat-button
                    (click)="saveNode(node, itemValue.value, typeValue.value, contentValue.value)">Save</button>
        </div>
    </mat-tree-node>
</mat-tree>

<button mat-icon-button (click)="addNewTopItem()">
    <mat-icon>add</mat-icon>
</button>
<br>

<a (click)="save()">SAVE</a>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->