.traits-div {
  display: flex;
  width: 240px;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

/* Split the screen in half */
.split {
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 80px;
}

.badge {
  margin-right: 2px;
}

.textarea-size {
  width: 260px;
  height: 90px;
}

.panel-heading {
  height: 30px;
  display: flex;
  align-items: center;
}

:host ::ng-deep .badge-success {
  background-color: rgb(51, 209, 64);
}

.input-group {
  width: 280px;
  margin-right: 10px;
}

:host ::ng-deep .badge-danger {
  background-color: red;
}

.badge-parent {
  background-color: dodgerblue;
}

/* Control the left side */
.left {
  left: 0;
  overflow-y: auto;
  max-height: 670px;
}

/* Control the right side */
.right {
  right: 0;
}

.edit-content {
  margin-left: 10px;
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
}

:host ::ng-deep .add-trait {
  margin-top: 2px;
}

.delete-traits {
  background-color: red;
  // opacity: 0.5;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.node-content {
  display: flex;
  flex-direction: row;
}

.node-element-height {
  height: 25px;
}

.bulletless-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0%;
  padding: 0%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-spacing {
  margin-top: 10px;
}

.short {
  margin-left: 30px;
  height: auto;
}

.cancel-button {
  margin-left: 10px;
}

.icon-button {
  background-color: transparent;
}

.well-sm {
  padding: 5px;
}

.blue-text {
  color: blue;
  :hover {
    text-decoration: underline;
  }
  margin-bottom: 0%;
}
