.cancel-button {
  margin-left: 10px;
}

.danger {
  background-color: red;
}

.success {
  background-color: rgb(17, 250, 17);
}

.cancel {
  background-color: rgb(240, 184, 44);
}

.white-text {
  color: white;
}
