.edit-content {
  margin-left: 10px;
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
}

.chip {
  color: white;
}

.primary {
  background-color: dodgerblue;
}
