<div>
    <h2>Title: {{editedNode?.item}}</h2>
</div>
<hr>
<div class="edit-content">
    <div>
        <div class="top-spacing">
            <app-question-traits [title]="'Assign Traits'"
                                 [type]="traitTypes.Acquire"
                                 [traits]="editedNode?.acquireTraits"
                                 (traitEvent)="traitAction($event)"></app-question-traits>
        </div>
        <div class=" top-spacing">
            <app-question-traits [title]="'Require Traits'"
                                 [type]="traitTypes.Required"
                                 [traits]="editedNode?.requiredTraits"
                                 (traitEvent)="traitAction($event)"></app-question-traits>
        </div>
        <div (dragover)="draggedOver($event)" (dragleave)="dragLeave()" class="top-spacing">
            <h2>
                <mdb-badge pill="true" primary="true">Parent Questions</mdb-badge>
            </h2>
            <div>
                <mdb-badge pill="true" *ngFor="let parent of editedNode?.parents | keyvalue" primary="true">
                    {{parent.value}} <span
                          (click)="deleteParent(parent.value)" aria-hidden="true">&times;</span></mdb-badge>
            </div>
        </div>
    </div>
    <div>
        <app-question-characteristics [editedNode]="editedNode"
                                      (questionUpdateEvent)="questionUpdate($event)">
        </app-question-characteristics>
    </div>
</div>
<div class="top-spacing">
    <app-question-buttons [saveButtonIsNotValid]="saveButtonIsNotValid"
                          [nodeExists]="nodeExists"
                          (saveEvent)="saveNode()"
                          (cancelEvent)="cancelEdit()"
                          (deleteEvent)="deleteQuestion()"></app-question-buttons>
</div>