.edit-content {
  margin-left: 10px;
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
}

.top-spacing {
  margin-top: 10px;
}

.badge-parent {
  background-color: dodgerblue;
}
