<div *ngIf="editedNode?.item">
    <h4>Title: {{editedNode?.item}}</h4>
</div>
<hr *ngIf="editedNode?.item">
<div class="edit-content">
    <div>
        <div class="top-spacing">
            <app-question-traits [title]="'Assign Traits'" [type]="'acquire'" [traits]="editedNode?.acquireTraits"
                                 (deleteTraitEvent)="deleteTrait($event)" (addTraitEvent)="addTrait($event)"></app-question-traits>
        </div>
        <div class="top-spacing">
            <app-question-traits [title]="'Require Traits'" [type]="'required'" [traits]="editedNode?.requiredTraits"
                                 (deleteTraitEvent)="deleteTrait($event)" (addTraitEvent)="addTrait($event)"></app-question-traits>
        </div>
        <div class="top-spacing">
            <h3><span class="label label-primary">Parent Questions</span></h3>
            <div>
                <span *ngFor="let parent of editedNode?.parents | keyvalue" class="badge badge-parent">{{parent.value}} <span
                          (click)="deleteParent(parent.value )" aria-hidden="true">&times;</span></span>
            </div>
        </div>
    </div>
    <div>
        <app-question-characteristics [editedNode]="editedNode" (typeEvent)="changeEditNodeIsAnswer($event)"
                                      (titleEvent)="updateTitle($event)" (contentEvent)="updateContent($event)">
        </app-question-characteristics>
    </div>
</div>
<div class="top-spacing">
    <app-question-buttons [saveButtonIsNotValid]="saveButtonIsNotValid" (saveEvent)="saveNode()" (cancelEvent)="cancelEdit()"
                          (deleteEvent)="deleteQuestion()"></app-question-buttons>
</div>