<h2>
    <mdb-badge pill="true" [success]="type === traitTypes.Acquire" [danger]="type === traitTypes.Required">{{title}}</mdb-badge>
</h2>
<div>
    <mdb-badge pill="true" *ngFor="let trait of traits" [success]="type === traitTypes.Acquire" [danger]="type === traitTypes.Required">
        {{trait}} <span
              (click)="deleteTrait(trait)" aria-hidden="true">&times;</span></mdb-badge>
</div>
<div class="top-spacing">
    <div class="input-group">
        <input #TraitsInput type="text" class="form-control custom-input" placeholder="">
        <span>
            <button mat-stroked-button (click)="addTrait(TraitsInput)">Add</button>
            <button mat-stroked-button (click)="resetTraitFieldInput(TraitsInput)">Cancel</button>
        </span>
    </div>
</div>