:host {
  display: block;
}

.dashboard {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: flex-start;
}

.answered {
  width: 500px;
}

.timesheet {
  flex: 1;
  max-width: 1000px;
}

.text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
