export const environment = {
  production: true,
  apiPath: '${AZURE_API_PATH}',
  azure: {
    tenant: '${AZURE_AD_TENANT}',
    clientId: '${AZURE_AD_CLIENT_ID}',
    redirectUri: '${AZURE_AD_REDIRECT_URL}',
    postLogoutRedirectUri: '${AZURE_AD_LOGOUT_URL}'
  }
};
